@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center alert alert-success" role="alert">
    <h5 class="">Arquitectura Orientada a el Dominio</h5>
    <h5 class="">Por: Karolina Montenegro G y Jahanel Rivera B </h5>
</div>
